@charset "utf-8";
.main {
	background-color: #FFF;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	height: 800px;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #D6D6D6;
	  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-touch-callout: none;
}
.main .header {
	background-color: #78909C;
	overflow: auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.main .header p {
	margin: 0px;
	color: #f7fdfd;
	font-style: normal;
	font-size: xx-large;
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 10px;
	padding-left: 20px;
	float: left;
}
.button {
	display: inline-block;
	position: relative;
	width: 120px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	font-size: 0.9em;
	background-color: #f7fdfd;
	color: #78909c;
	font-variant: normal;
	float: none;
	margin: 15px;
	padding: 0px;
}    

.button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
}    
.button:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}
.main .header .button {
	float: right;
}

.main .header #sign_out {
	display: none;
}


.button:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}
span {
	word-wrap: break-word;
	display: block;
}
.body #word_section .word .pos {
	color: #a6a6a6;
}
.body #word_section .word .tran .tran_text {
	color: #313131;
}
.body #word_section .word .tran .tran_mean {
	color: #a8a8a8;
}
.body #word_section .word {
	margin: 10px;
	padding: 10px;
	border: 1px solid #CCC;
}
.body #word_section .word .tran .ex {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.body #word_section .word .tran {
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.body #word_section .original .original_text {
	color: #1d1d1d;
	font-size: x-large;
}
.body #word_section .original {
	margin: 10px;
	padding: 10px;
	border: 1px solid #CCC;
}





.body #word_section .word .tran .ex .tran_ex {
	color: #0664a2;
}






.center {
      text-align: center;
}

#fade {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .80;
	z-index: 9999;
	background-color: #78909C;
}
#sign_in_window {
	display: none;
	background: #fff;
	border: 1px solid rgb(102,102,102);
	float: left;
	font-size: 85%;
	position: fixed;
	top: 50%;
	left: 50%;
	color: #000;
	height: 500;
	z-index: 99999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#sign_in_window .input_section input{
	height: 32px;
	margin: 0px;
	font-size: large;
	padding: 8px;
	border: 1px solid #CCC;
	width: 282px;
}
#sign_in_window #sub_sign_in {
	background-color: #78909c;
	float: right;
	margin: 30px;
	color: #f7fdfd;
}
.main .body #main_section {
	width: 521px;
	float: left;
	overflow: auto;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.main .body #main_section #original_word {
	font-size: large;
	padding: 10px;
	width: 420px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 0px;
}
.main .body #main_section #translate {
	display: inline-block;
	position: relative;
	line-height: 32px;
	border-radius: 2px;
	font-size: 0.9em;
	background-color: #f7fdfd;
	color: #78909c;
	font-variant: normal;
	width: 36px;
	height: 36px;
	float: right;
	padding-top: 4px;
	padding-right: 14px;
	padding-bottom: 4px;
	padding-left: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.main .body #main_section #translate:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}
.body #main_section #dict_list {
	clear: both;
	float: left;
	height: 515px;
	width: 250px;
	border: 1px solid #CCC;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.body #main_section #word_list {
	clear: right;
	float: right;
	height: 515px;
	width: 250px;
	border: 1px solid #CCC;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}



.main .body #word_section {
	width: 450px;
	border: 1px solid #CCC;
	height: 591px;
	float: right;
	margin-top: 9px;
	margin-right: 9px;
	margin-bottom: 9px;
	margin-left: 0px;
	overflow: scroll;
}
.main .body {
	overflow: auto;
}

#sign_in_window .input_section {
	padding: 0px;
	margin: 30px;
}
#sign_in_window .header p {
	font-size: x-large;
	margin: 0px;
	padding: 10px;
	color: #f7fdfd;
	float: left;
	font-weight: lighter;
}
#sign_in_window .header {
	background-color: #78909C;
	overflow: auto;
}

#sign_up_window {
	display: none;
	background: #fff;
	border: 1px solid rgb(102,102,102);
	float: left;
	font-size: 85%;
	position: fixed;
	top: 50%;
	left: 50%;
	color: #000;
	height: 500;
	z-index: 99999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#sign_up_window .input_section input{
	height: 32px;
	margin: 0px;
	font-size: large;
	padding: 8px;
	border: 1px solid #CCC;
	width: 282px;
}
#sign_up_window #sub_sign_up {
	background-color: #78909c;
	float: right;
	color: #f7fdfd;
	margin-top: 0px;
	margin-right: 30px;
	margin-bottom: 0px;
	margin-left: 30px;
}

#sign_up_window .input_section {
	padding: 0px;
	margin-top: 25px;
	margin-right: 30px;
	margin-bottom: 25px;
	margin-left: 30px;
}
#sign_up_window .header p {
	font-size: x-large;
	margin: 0px;
	padding: 10px;
	color: #f7fdfd;
	float: left;
	font-weight: lighter;
}
#sign_up_window .header {
	background-color: #78909C;
	overflow: auto;
}
/*--фиксированное позиционирование для IE6--*/
*html #fade {
    position: absolute;
}
*html #sign_in_window {
    position: absolute;
}

*html #sign_up_window {
    position: absolute;
}

 .icon-button {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 56px;
	float: right;
    }


   
.icon-button > core-icon {
	margin: 16px;
	color: #f7fdfd;
    transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
    
.icon-button:hover > core-icon {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
    
.icon-button > paper-ripple {
	overflow: hidden;
	color: #646464;
}
